body {
  font-family: sans-serif;
  background: #071013;
  color:#FCFAF9;
}

.kanjibox  {
  font-family: 'Noto Serif JP', serif;
  width:80%;
  margin:auto;
  text-align: center;
  font-size:1.3em;
}
.kanjibox .kanji {
  width:100%;
  font-size:8em;
  padding:.1em 0;
  line-height:1;
}

.js .kanjibox .kunyomi,
.js .kanjibox .onyomi,
.js .kanjibox .meaning {
  opacity:0;
}



.jlptlvl {
  text-align: center;
}

ul.cbox {
  list-style: none;
  padding: 20px;
  
}
ul.cbox li{
display: inline;
}
ul.cbox li label{
  display: inline-block;
  background-color: rgba(75, 74, 74, 0.9);
  border: 2px solid rgba(37, 37, 37, 0.3);
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.cbox li label {
  padding: 7px 15px;
  cursor: pointer;
  text-shadow: #fff;
}

ul.cbox li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\2795";
  transition: transform .3s ease-in-out;
}

ul.cbox li input[type="checkbox"]:checked + label::before {
  content: "\2714";
  transition: transform .3s ease-in-out;
}

ul.cbox li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;/* #12bbd4;*/
  transition: all .2s;
}

ul.cbox li input[type="checkbox"] {
display: absolute;
}
ul.cbox li input[type="checkbox"] {
position: absolute;
opacity: 0;
}
ul.cbox li input[type="checkbox"]:focus + label {
border: 2px solid #e9a1ff;
}